.about-container {
  height:100%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #F7F9F9;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 2;
  margin-bottom: 90px;
}

.about-description h3 {
  font-size: 50px;
  font-weight: 100;
  margin: 0;
}

.about-description p {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.about-links {
  position: absolute;
  right: 45px;
  bottom: 45px;
  display: inline;
  color: #F7F9F9;
  margin: 0;
}

.about-links i {
  margin: 0 10px;
  font-size: 30px;
}

.about-links a {
  text-decoration: none;
  color: #F7F9F9;
}
