.wrapper {
  background: linear-gradient(308.98deg, rgba(255, 255, 255, 0.3465) 0%, rgba(255, 255, 255, 0.190083) 29.84%, rgba(255, 255, 255, 0) 100%), #13192D;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

#wrapper-ellipse {
  position: absolute;
  top: 200px;
  opacity: 0.5;
  width: 2800px;
}

.title {
  position: absolute;
  top: 10px;
  left: 45px;
  color: #F7F9F9;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-family: 'Rock Salt', cursive;
}

.title h2 {
  font-size: 50px;
  margin: 0;
}

.nav {
  position: absolute;
  top: 50px;
  right: 25px;
  display: flex;
  color: #F7F9F9;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.nav h4 {
  padding: 0 10px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 15px;
  padding-bottom: 10px;
  opacity: .5;
}

.active {
  opacity: 1 !important;
}
