.navbar {
  height: 100px;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #F7F9F9;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-family: 'Rock Salt', cursive;
  margin: 15px 0 0 45px;
}

.title h2 {
  font-size: 40px;
  margin: 0;
}

.title a {
  text-decoration: none;
  color: #F7F9F9;
}

.nav {
  display: flex;
  margin: 45px 30px 0 0;
}
.nav a {
  text-decoration: none;
  color: #F7F9F9;
  opacity: .5;
}

.nav a:hover {
  opacity: 1;
}

.nav h4 {
  padding: 0 5px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 15px;
  padding-bottom: 10px;
}

.active {
  opacity: 1 !important;
}
